.k {
	width: 500px;
	height: 500px;
	background: purple;
	border:  20px double red;
	padding: 100px 5px 20px 2px;
	margin:20px;
	float: left;
	
	
}
body{
	background-image: url(../img/banner.jpg)  ;
	background-repeat: repeat-x
}
